BOT_TOKEN=8498694285:AAG3Ezx7BDGciUIYAAb4UHMtFUmBYvock3w
ADMIN_IDS=2091630272
WEBSITE_URL=https://твой-сайт.bothost.ru
SECRET_KEY=придумай_случайную_строку
VIP_CHAT_LINK=https://t.me/+r3rxYlBjbTYyMDY6